#cards-container {
    margin-left: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

.wd-course-card .card {
    width: 250px;
}

.wd-color-image {
    background-color: rgb(127, 139, 190);
    height: 200px;
}

.wd-course-card .wd-card-title{
    color: rgb(69, 69, 213);
}

.wd-course-card .wd-card-text{
    color: gray;
    text-decoration: none;
}

.wd-course-card a {
    text-decoration: none;
}

